<%= form_for @idea, :html => {:multipart => true} do |f| %>
  <% if @idea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@idea.errors.count, "error") %> prohibited this idea from being saved:</h2>

      <ul>
      <% @idea.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
        
  <div class="row">
    <div class="col-md-3">
      <%= f.text_field :name,:class=>'form-control',:required=>true,  :placeholder => 'Idea Title' %>
    </div>
    <div class="col-md-9">
      <%= f.text_field :description,:class=>'form-control',:required=>true,  :placeholder => 'Idea Description' %><br/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
    </div>
    <div class="col-md-3">
      <%= f.file_field :picture,:class=>'form-control',:required=>true,  :placeholder => 'Picture' %><br/>
    </div>
    <div class="col-md-3">
      <%= f.submit "Submit Idea",:class=>'btn btn-primary btn-block' %>
    </div>
  </div>
<% end %>
