<tr>
    <td><%= idea.name %></td>
    <td><%= idea.description %></td>
    <td><%= idea.user.email %></td>
    <td><%= link_to image_tag(asset_path(idea.picture.url(:thumb))), asset_path(idea.picture.url), :popup=>['original_image', 'height=700,width=900'] %></td>
	<!--<td><%= link_to 'Show', idea %></td>
    <td><%= link_to 'Edit', edit_idea_path(idea) %></td>
    <td><%= link_to 'Destroy', idea, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
</tr>